<! DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Templates</title>
    <link href="css/styles.css" rel="stylesheet" />
  </head>

  <body>
    <div class="box" id="heading">
      <h1><%= listTitle %> : To Do List</h1>
    </div>

    <div class="box">
      <% for (let i = 0; i < newListItems.length; i++){ %>
      <div class="item">
        <input type="checkbox" />
        <p><%= newListItems[i] %></p>
      </div>
      <% } %>

      <form class="item" action="/" method="POST">
        <input
          type="text"
          name="newItem"
          placeholder="New Item"
          autocomplete="off"
          required
          autofocus
        />
        <button type="submit" name="button" value="<%= listTitle %>">+</button>
      </form>
      <!--  -->
    </div>
  </body>
</html>
